<% include ../includes/start.ejs %>
<% include ../includes/header.ejs %>
<div class="dashboard">
  <div class="map"></div>
  <div class="block first">
    <div class="header">Current Workers</div>
    <div class="listing">
      <% workers.forEach(function(worker) { %>
        <div class="item" data-lat="<%= worker.lat %>" data-lng="<%= worker.lng %>">
          <div class="name"><%= worker.name %></div>
          <%
            var status = ""

            switch(worker.status) {
              case 1: status = "Disabled"; break
              case 2: status = "Available"; break
              case 3: status = "Pending"; break
              case 4: status = "Working"; break
            }
          %>
          <div class="status <%= status.toLowerCase() %>"><%= status %></div>
          <a class="drop" href="/worker/<%= worker.id %>/drop">Drop</a>
          <div class="clear"></div>
        </div>
      <% }) %>
    </div>
  </div>
  <div class="block">
    <div class="header">Pending Workers</div>
    <div class="listing">
     <% pendingWorkers.forEach(function(worker) { %>
        <div class="item" data-lat="<%= worker.lat %>" data-lng="<%= worker.lng %>">
          <div class="name"><%= worker.name %></div>
          <a class="accept" href="/worker/<%= worker.id %>/accept">Accept</a>
          <a class="decline" href="/worker/<%= worker.id %>/decline">Declined</a>
          <div class="clear"></div>
        </div>
      <% }) %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% include ../includes/end.ejs %>
